name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy app to EC2
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << EOF
            echo "Deploying on EC2"

            sudo docker stop web || true
            sudo docker rm web || true
            sudo docker rmi site-image || true

            sudo docker run -d \
              --name web \
              -p 80:80 \
              nginx

            sudo docker ps
          EOF
      - name: Deploy app to EC2
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << EOF
            echo "Deploying on EC2"

            sudo docker stop web || true
            sudo docker rm web || true
            sudo docker rmi site-image || true

            sudo docker run -d \
              --name web \
              -p 80:80 \
              nginx

            sudo docker ps
          EOF
